@keyframes scroll {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(-100%);
   }
}

.animate-scroll {
   display: flex;
   animation: scroll 30s linear infinite;
   animation-play-state: running; /* Default is running */
}

/* Pause the animation when hovered */
.animate-scroll:hover {
   animation-play-state: paused; /* Pause animation on hover */
}



